h1{
    font-size: 40px;
    margin-left: 40vw;
}

h2{
    margin-left: 46vw;
    margin-top: 40px;
}

#board{
    margin-top: 50px;
    margin-left: 42vw;
    display:grid;
    width: 300px;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
}

.square{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
}